In [1]:

import numpy as np
import pandas as pd

Pandas has two objects: pd.Series object and pd.DataFrame object

In [2]:
# create series array
record = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
record

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [3]:
# to see only the values of the series
record.values

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [4]:
# to see only the index of the series
record.index

RangeIndex(start=0, stop=8, step=1)

In [5]:
# we can get each element of series by index
record[3]

4

In [6]:
# we can also perform slice on a series object
record[2:6]

2    3
3    4
4    5
5    6
dtype: int64

In [7]:
#slicing from the series using the negative index
record[-3:-1]

5    6
6    7
dtype: int64

In [8]:
#specifying your index 
record2 = pd.Series([10, 11, 12, 13, 14, 15, 16, 17, 18], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])
record2

a    10
b    11
c    12
d    13
e    14
f    15
g    16
h    17
i    18
dtype: int64

In [9]:
# selecting items from the series using the specified index
record2['d']

13

In [10]:
#selection from the series using slice indexing
record2['c':'g']

c    12
d    13
e    14
f    15
g    16
dtype: int64

In [11]:
#using noncontiguous or nonsequential indeces
record3 = pd.Series([20,21,22,23,24,25,26,27,28], index=[5,3,6,1,8,4,2,7,0])
record3

5    20
3    21
6    22
1    23
8    24
4    25
2    26
7    27
0    28
dtype: int64

In [12]:
# accessing series item by its index
record3[1]

23

# Different ways to create series object

In [13]:
# from a specialized dictionary
states = {'Oyo':2500000, 'Lagos':6400000, 'Kano':4600000, 'Kaduna':3600000, 'Enugu':3400000, 'Imo':2300000}
statesdata = pd.Series(states)
statesdata

Enugu     3400000
Imo       2300000
Kaduna    3600000
Kano      4600000
Lagos     6400000
Oyo       2500000
dtype: int64

In [14]:
# the data can be indexed using the state name
statesdata['Lagos']

6400000

In [15]:
# we can also perform slicing on the data
statesdata['Imo':'Lagos']

Imo       2300000
Kaduna    3600000
Kano      4600000
Lagos     6400000
dtype: int64

# Constructing Series objects

In [16]:
# series can be created through a scalar data
values = pd.Series(10, index=[1,2,3,4,5,6,7])
values

1    10
2    10
3    10
4    10
5    10
6    10
7    10
dtype: int64

In [17]:
# index can be explicitly set if different result is prefered
valuekey = pd.Series({1:'Oyo', 2:'Lagos', 3:'Abuja', 4:'Enugu', 5:'Rivers'}, 
                     index=['O', 'L', 'A','E','R'])
valuekey

O   NaN
L   NaN
A   NaN
E   NaN
R   NaN
dtype: float64

In [18]:
landmass = pd.Series({'Oyo':5000, 'Lagos':2000, 'Kano':7000, 'Kaduna':3000, 'Enugu':4000, 
                      'Imo':1500})
landmass

Enugu     4000
Imo       1500
Kaduna    3000
Kano      7000
Lagos     2000
Oyo       5000
dtype: int64

# Creating a Dataframe object

In [19]:
# creating dataframe from single dictionary
census = pd.DataFrame({'Population':statesdata})
census

        Population
Enugu      3400000
Imo        2300000
Kaduna     3600000
Kano       4600000
Lagos      6400000
Oyo        2500000

In [20]:
# creating dataframe from multiple dictionaries
pop_census = pd.DataFrame({'Population':statesdata, 'Land mass':landmass})
pop_census

        Land mass  Population
Enugu        4000     3400000
Imo          1500     2300000
Kaduna       3000     3600000
Kano         7000     4600000
Lagos        2000     6400000
Oyo          5000     2500000

In [21]:
# creating dataframe with some missing values
land = pd.Series({'Rivers':5000, 'Lagos':2000, 'Edo':7000, 'Kaduna':3000, 'Benue':4000, 'Imo':1500})
census = pd.DataFrame({'Population':statesdata, 'Land mass':land})
census

        Land mass  Population
Benue      4000.0         NaN
Edo        7000.0         NaN
Enugu         NaN   3400000.0
Imo        1500.0   2300000.0
Kaduna     3000.0   3600000.0
Kano          NaN   4600000.0
Lagos      2000.0   6400000.0
Oyo           NaN   2500000.0
Rivers     5000.0         NaN

In [22]:
# list out the index 
pop_census.index

Index(['Enugu', 'Imo', 'Kaduna', 'Kano', 'Lagos', 'Oyo'], dtype='object')

In [23]:
# list out the columns on the table
pop_census.columns

Index(['Land mass', 'Population'], dtype='object')

In [24]:
# list out all the values of the dataframe
pop_census.values

array([[   4000, 3400000],
       [   1500, 2300000],
       [   3000, 3600000],
       [   7000, 4600000],
       [   2000, 6400000],
       [   5000, 2500000]], dtype=int64)

In [25]:
# indexing a dataframe through it column name
pop_census['Land mass']

Enugu     4000
Imo       1500
Kaduna    3000
Kano      7000
Lagos     2000
Oyo       5000
Name: Land mass, dtype: int64

In [26]:
# get the landmass of Lagos using the column name and index name
pop_census['Land mass']['Lagos']

2000

In [27]:
# slicing the dataframe using indexing
pop_census['Kaduna':'Lagos']

        Land mass  Population
Kaduna       3000     3600000
Kano         7000     4600000
Lagos        2000     6400000

In [28]:
# give us the complete details of Kaduna state
pop_census['Kaduna':'Kaduna']

        Land mass  Population
Kaduna       3000     3600000

In [29]:
pop_census.keys

<bound method NDFrame.keys of         Land mass  Population
Enugu        4000     3400000
Imo          1500     2300000
Kaduna       3000     3600000
Kano         7000     4600000
Lagos        2000     6400000
Oyo          5000     2500000>

# Constructing DataFrame Objects

In [30]:
#creating dataframe from a single series object
student = pd.Series(['Sunday', 'Sayo', 'Charse', 'Rose', 'Micheal'])
student

0     Sunday
1       Sayo
2     Charse
3       Rose
4    Micheal
dtype: object

In [31]:
# convert the series to dataframe specifying the column name and setting new index
studentrec= pd.DataFrame(student, columns=['Student Name'],index=[0,1,2,3,4])
studentrec

  Student Name
0       Sunday
1         Sayo
2       Charse
3         Rose
4      Micheal

In [32]:
# Dataframe from multidimension numpy array
studentpop = pd.DataFrame(np.random.rand(3,2), columns=['Male', "Female"], index=['Js1', 'Js2', 'Js3'])
studentpop

         Male    Female
Js1  0.516866  0.072279
Js2  0.859326  0.373104
Js3  0.228204  0.980915

In [33]:
# adding a new column to already existing dataframe object
studentpop['Total Student'] = studentpop['Female'] + studentpop['Male']
studentpop

         Male    Female  Total Student
Js1  0.516866  0.072279       0.589145
Js2  0.859326  0.373104       1.232429
Js3  0.228204  0.980915       1.209119

In [34]:
# return the values of the studentpop
studentpop.values

array([[0.51686626, 0.07227861, 0.58914487],
       [0.85932576, 0.37310374, 1.23242949],
       [0.22820372, 0.98091483, 1.20911855]])

In [35]:
# returns the values on the first row
studentpop.values[0]

array([0.51686626, 0.07227861, 0.58914487])

In [36]:
# we can inverse between index and column, T means transpose
studentpop.T

                    Js1       Js2       Js3
Male           0.516866  0.859326  0.228204
Female         0.072279  0.373104  0.980915
Total Student  0.589145  1.232429  1.209119

# Pandas Index object

In [37]:
# example of index in numpy array
list1 = np.array([1,2,3,4,5,6,7,8,9])
list1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [38]:
# using fancy indexing
fancy = [0,3,6,8]
list1[fancy]

array([1, 4, 7, 9])

In [39]:
# creating index object in pandas
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [40]:
# index as immutable array
ind[1]

3

In [41]:
# index object can also be sliced
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [42]:
# index object also have the same numpy attributs
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [43]:
# index object as immutable  array cannot be modified
ind[2] = 10

TypeError: Index does not support mutable operations

In [ ]:
# index can be used to perform set operations
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [ ]:
# intersection
indA & indB

In [ ]:
# union
indA | indB

In [ ]:
# symmetric difference
indA ^ indB

# Data Indexing and Selection

In [ ]:
# Data selection in Series
# Series as dictionary
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

In [ ]:
# selecting using index
data['b']

In [ ]:
# We can use dictionary-like python expression and methods to check for key/indices and values
#check for index
'a' in data

In [ ]:
# check for key
data.keys()

In [ ]:
# check for values
data.values

In [ ]:
# check for both key/indices and values
list(data.items())

In [ ]:
# Series object can be modified just like dictionary using dictionary-like sytax
# adding new value to series
data['e'] = 1.25
data

In [ ]:
# Series as one-demensional array
# slicing by explicit index
data['a':'c']

In [ ]:
# slicing by explicit integer index
data[0:2]

In [ ]:
# masking 
data[(data>0.3) & (data<0.8)]

In [ ]:
# fancy indexig
data[['a', 'c', 'e']]

In [ ]:
# slicing with loc, iloc and ix
data.loc['a']

In [ ]:
data.iloc[0]

In [ ]:
# Data Selection in DataFrame
# DataFrame as dictionary
pop_census

In [ ]:
# select based on column names
pop_census['Population']

In [ ]:
# we can also selection using the column name as an attribute-style 
pop_census.Population

In [ ]:
# compare if the two methods are equal
pop_census.Population is pop_census['Population']

In [ ]:
# we can modify the values of dataframe like adding new columns
pop_census['Density']=pop_census['Population'] / pop_census['Land mass']
pop_census

In [ ]:
# Return the values of the DataFrame as two dimensional arry
pop_census.values

In [ ]:
# Returns the index of the DataFrame as a vector
pop_census.index

In [ ]:
# we can transpose the full dataframe to swap rows and columns
pop_census.T

In [ ]:
# indexing a dataframe object
pop_census.values[0]

In [ ]:
# indexing using the column name
pop_census['Land mass']

In [ ]:
# using loc, iloc and ix
# use iloc with explicit integer index
pop_census.iloc[:3, :2]

In [ ]:
# use loc for explicit index name
pop_census.loc['Enugu':'Imo']

In [ ]:
# using ix as an hybrid of loc and iloc
# pop_census.ix[:3, :'Population'] this is already deprecated in the new version of pandas 
# so use this method 
pop_census.iloc[:3]['Population']

In [ ]:
studentpop

In [ ]:
# loc can be combine with masking and fancy indexing 
studentpop.loc[studentpop['Total Student'] > 0.356, ['Male','Female']]

In [ ]:
pop_census.loc[pop_census.Density > 1533.333333, ['Land mass','Population']]

In [ ]:
# Any of this method can be used to modify the values
pop_census.iloc[0, 2] = 50000
pop_census

In [ ]:
# slicing using the rows
pop_census['Lagos':'Enugu']

In [ ]:
# slicing using row integer index
pop_census[1:3]

In [ ]:
# Direct masking can also be done row-wise instead of column-wise
pop_census[pop_census.Density > 1200.000000]

# Ufuncs in Pandas

# unive create a series object
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

In [ ]:
# creat a dataframe object
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'])
# df

In [ ]:
# perform an exponential ufunc on the series 
np.exp(ser)

In [ ]:
# we can also perform more complex operation by combining multiple ufunc together
np.sin(df * np.pi/4)

In [ ]:
# we can apply the same ufunc on our pop_census data
np.sin(pop_census * np.pi/4)

In [ ]:
# let us try to practice with a real dataset using california city data
data = pd.read_csv('C:\\Users\\OWNER\\Datasets\\california_cities.csv')
data.head()

In [ ]:
# Let us describe the data to see general overview of the whole dataset
data.describe()

In [ ]:
# lets try and verify any of the details described above
data['latd'].mean(), data['latd'].std()

In [ ]:
# let us get some other informations about the dataset
data.info()

In [ ]:
# show the shape of the data. other details includes (ndim, dtype, size) 
data.shape, data.ndim, data.size

In [ ]:
# returns the values of the data inform of np multidimension array
data.values

In [ ]:
# returns the columns of the data inform of np array
data.columns

In [ ]:
# returns the index of the array 
data.index

In [ ]:
# we can modify the data by adding new column "Density"
data['Density']= data['population_total'] / data['area_total_sq_mi']
data.head()

In [ ]:
# changing a column name from the data
change_column = np.array(data.columns)
change_column[0] = 'S/N'
change_column

In [ ]:
# now lets try and receate the datafame with the new column
data = pd.DataFrame(data.values, columns = change_column)
data.head()

In [ ]:
# Let us drop all columns without any data in them
data.drop(['Unnamed: 14', 'Unnamed: 15'], axis=1).head()

In [ ]:
# column names are also an attribute of pd object so can be used to refference the column i.e
data.city

In [ ]:
data.population_total.sum()

# ufunc allignment
 allignment is how pandas merges two datasets and manages any missing values

In [ ]:
# how allignment work with series object
ser1 = pd.Series([2,4,6], index=[0, 1, 2])
ser2 = pd.Series([1, 3, 5], index=[1, 2, 3])
print(ser1)
print(ser2)

In [ ]:
# any operation performed on NaN will return NaN
ser1 + ser2

In [ ]:
# raplace any NaN with zero
ser1.add(ser2, fill_value=0)

In [ ]:
# how allignment work with dataframe object
rng =np.random.RandomState()
val1 = pd.DataFrame(rng.randint(0,20,(2,2)), columns=list('AB'))
val2 = pd.DataFrame(rng.randint(0,10, (3,3)), columns=list('BAC'))
print(val1)
print(val2)

In [ ]:
# let try to add the two datasets together
val1 + val2

In [ ]:
# extract the first row of val2 and add it to val2
val2 + val2.loc[0]

In [ ]:
# calculate the mean of val1 and use it to fill any missing value
fill = val1.stack().mean()
fill
val1.add(val2, fill_value=fill)

# ufunc operations between Dataframe and Series

In [ ]:
rng =np.random.RandomState()
valA = rng.randint(10, size=(3, 4))
valA

In [ ]:
# subtract one row of valA from itself
valA - valA[0]

In [ ]:
# create a DataFrame from the data
df_val = pd.DataFrame(valA, columns=list('QRST'))
df_val

In [ ]:
# subtract one row of valA from itself
df_val - df_val.
iloc[0]

In [ ]:
# you can use object method to operate on the dataframe column-wise
df_val.subtract(df_val['R'], axis=0)

In [ ]:
# slice df_val at index of row=0  and column= from begining to end at step of 2 ********
halfrow = df_val.iloc[0,::2]
halfrow

In [ ]:
df_val - halfrow

# Handling Missing Data

In [ ]:
# python uses None to represent missing data
x = np.array([1, 2, None, 3, 5, 6])
x

In [ ]:
# pandas uses NaN to represent missing data
y = np.array([1, 2, np.nan, 3, 5, 6])
y

In [ ]:
# Any arithmetic operation with a non type will raise error
x.sum()

In [ ]:
# any arithmetic operation with NaN will results in NaN output
y.sum()

In [ ]:
1 + np.nan

In [ ]:
0 *np.nan

In [ ]:
np.sum(y), np.min(y), np.max(y)

In [ ]:
# using np.nan with the operation will overlook NaN and compute only the values available
np.nansum(y), np.nanmin(y), np.nanmax(y)

In [ ]:
# NaN and None Pandas
# pandas will converts any none type to NaN
pd.Series([1, np.nan, 2, None])

In [ ]:
x = pd.Series(range(2), dtype=int)
x

In [ ]:
x[0] = None
x

# Operating on Null Values
pandas has two useful methods for detecting null data: isnull() and notNull()

In [ ]:
dft = pd.Series([1, np.nan, 'Tunde', None])
dft

In [ ]:
# isNull() will return true for those values that contains null data
dft.isnull()

In [ ]:
# notNull() will return true for those fields that contains value
dft.notnull()

In [ ]:
# to get the value of those that are null 
dft[dft.isnull()]

In [ ]:
# we can also get the values of those that contains data
a = dft.notnull()
dft[a]

In [ ]:
# using this same operation on our data above
data[data.isnull()].head()

In [ ]:
data[data.notnull()].head()

# Deleting Null Value

In [ ]:
# working with series object
dft

In [ ]:
# this will remove all null and nan value and left us only with a clean data
dft.dropna()

In [ ]:
# working with a dataframe object
dfdata = pd.DataFrame([[1, np.nan, 2, np.nan ], [2, 3, 5, np.nan],[np.nan, 4, 6, np.nan]],
                      columns=list('ABCD'))
dfdata

In [ ]:
# by default dropna will drop all rows in which any null is present
dfdata.dropna()

In [ ]:
# you can specify to drop along columns
dfdata.dropna(axis='columns')

In [ ]:
# will can specify how to drop nan along row or column. how='any' is the default if no specified
dfdata.dropna(axis='columns', how='any')

In [ ]:
# how='all' mean drop any column where all values are nan
dfdata.dropna(axis='columns', how='all')

In [ ]:
# thresh let us specify a minimum number of non-null value for row or column to drop
dfdata.dropna(axis='columns', thresh=2 )

In [ ]:
# drop any rows that has less than three non-null
dfdata.dropna(axis='rows', thresh=3 )

In [ ]:
# applying dropna to our data
data.dropna(axis='columns').isnull().head()

In [ ]:
data.dropna(axis='columns', how='all').isnull().head()

# Filling null value

In [ ]:
# fill a null value in series object
srdata = pd.Series([1, np.nan, 2, np.nan ], index=list("abcd"))
srdata

In [ ]:
# fill every null value with a default zero value
srdata.fillna(0)

In [ ]:
# you can also fill any null value with the mean of the data
srdata.fillna(srdata.mean())

In [ ]:
# ffill mean forward fill i.e use the previous value to fill the next null
srdata.fillna(method='ffill')

In [ ]:
# bfill mean backward fill i.e use the subsquent value the fill the previous null
srdata.fillna(method='bfill')

In [ ]:
# fill a null value in dataframe object
dfdata

In [ ]:
# fil forward row-wise
dfdata.fillna(method='ffill', axis=0)

In [ ]:
# fill forward column-wise
dfdata.fillna(method='ffill', axis=1)

In [ ]:
# fill every null values with default value zero
dfdata.fillna(0)

In [ ]:
# fill the null values with mean
dfdata.fillna(dfdata.mean())

In [ ]:
# create a new column the fill with dafualt nan
dfdata['E']=(np.nan)
dfdata

In [ ]:
# this can then be filled with zeros
dfdata.fillna(0)

In [ ]:
# fill some specified columns with default value 
dfdata[['E']] = dfdata[['E']].fillna(5)
dfdata

In [ ]:
# fill some specified columns with zero 
data[['area_total_sq_mi','area_water_sq_mi']] = data[['area_total_sq_mi',
                                                      'area_water_sq_mi']].fillna(0)
data.info()

In [ ]:
# Assignment

# import the car_price dataset
# extract all the values that is not null from the dataset to a new variable
# extract all the null values from the dataset into a new variable
# drop all columns containing null value from the original dataset
# clean the data set so it doesnt have any value again
# compute the sum, mean of the price column on the list
# get the car with lowest price and with highest price

In [ ]:
house = pd.read_csv('C:\\Users\\OWNER\\Datasets\\housing\\housing.csv')
house.head()

In [ ]:
house.info()

In [ ]:
house.describe()

In [ ]:
house.tail()

In [ ]:
house['latitude'].mean(), house['latitude'].std()

In [ ]:
house['longitude'].mean(), house['longitude'].std()

In [ ]:
house.shape, house.ndim, house.size

In [ ]:
data.values

In [ ]:
house.columns

In [ ]:
house.index

In [ ]:
# using this same operation on our data above
housenan = house[house.total_bedrooms.isnull()]
housenan

In [ ]:
housenan = house[house.total_bedrooms.notnull()]
housenan.info()

In [ ]:
# applying dropna to our data
house.dropna(axis=1).head()

In [ ]:
[housenan.population.mean(), housenan.population.std()]

In [ ]:
[housenan.population.sum(), housenan.population.sum()]

In [ ]:
 housenan.households[housenan.population.values.argmax()]

In [ ]:
housenan.households[housenan.population.values.argmin()]

In [ ]:
housenan.households[1017]

In [ ]:
housenan.households.values.argmin()

In [ ]:
housenan.households.values.argmax()

In [ ]:
housenan.households[16013]

In [ ]:
housenan.households[9782]

# Multiple Indexed Series

In [ ]:
# Multiindex can be created using dictionary of tuple as key , THE KEY IS TURPLE AND THE VALUE IS SCAKLAR 
data = {('California', 2000): 33871648, ('California', 2010): 37253956, ('Texas', 2000): 20851820, 
        ('Texas', 2010): 25145561, ('New York', 2000): 18976457, ('New York', 2010): 19378102}
pd.Series(data)

In [ ]:
# Multiindex can also be created using a list of tuples 
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas',
            2000), ('Texas', 2010)]  
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]       
pop = pd.Series(populations, index=index)       
pop

In [ ]:
# slice pop and give us population beteen Colifornia 2010 and Texas 2000
pop[('California', 2010) : ('Texas', 2000)]

In [ ]:
# give us population value where year is 2010
pop[[i for i in pop.index if i[1]==2010]]
# for i in pop.index:
#     if i[1]==2010:
#         print(pop[i])

In [ ]:
# an index can be created from tuple using a list of tuples
index= pd.MultiIndex.from_tuples(index)
index

In [ ]:
# we need to add the index to the data by using reindex function
pop = pop.reindex(index)
pop

In [ ]:
# with reindex it is now possible to slice by year
pop[:, 2010]

In [ ]:
# unstack is used to turn one of the index to column name and convert the series to dataframe
popdf = pop.unstack()
popdf

In [ ]:
# stack will turn the dataframe back to its series form 
popdf.stack()

# Multiple Index DataFrame

In [ ]:
pop_df = pd.DataFrame({'Total': pop, 'Under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]})        
pop_df

In [ ]:
index = pd.MultiIndex.from_tuples(index)       
index

In [ ]:
pop = pop_df.reindex(index)       
pop

In [ ]:
under18 = pop_df['Under18']/pop_df['Total']
under18

In [ ]:
under18.unstack()

In [ ]:
# using unstack function will turn the year as sub-column 
pop_df = pop.unstack()       
pop_df

In [ ]:
pop_df = pop_df.stack()       
pop_df

In [ ]:
df = pd.DataFrame(np.random.rand(4, 2), 
index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2'])        
df

In [ ]:
df = pd.DataFrame(np.random.rand(9, 2), 
                  index=[['Oyo', 'Oyo', 'Oyo', 'Rivers','Rivers','Rivers','Lagos','Lagos','Lagos'],
                         [2000,2001,2002,2000,2001,2002,2000,2001,2002]], columns=['data1', 'data2'])        
df

# Create MultiIndex using Constructors

In [ ]:
# creat multiIndex using from_tuples constructor
cm1 = pd.DataFrame(np.random.rand(4, 2), pd.MultiIndex.from_tuples([("Class 1", 'a'), ("Class 1", 'b'), ("Class 2", 'a'),
                                                                    ("Class 2", 'b')]), columns=["Male", "Female"])
cm1

In [ ]:
# example
df = pd.DataFrame(np.random.rand(9, 2), pd.MultiIndex.from_tuples([('Oyo',2000),('Oyo',2001),
                    ('Oyo',2002),('Rivers',2000),('Rivers',2001),('Rivers',2002),('Lagos',2000),
                    ('Lagos',2001),('Lagos',2002)]), columns=['data1', 'data2'])        
df

In [ ]:
# creat multiIndex using from_arrays constructor
cm = pd.DataFrame(np.random.rand(4, 2), pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]]))        
cm

In [ ]:
# example
cm = pd.DataFrame(np.random.rand(9, 2), pd.MultiIndex.from_arrays([['Oyo', 'Oyo', 'Oyo', 'Rivers',
                    'Rivers','Rivers','Lagos','Lagos','Lagos'], [2000,2001,2002,2000,2001,2002,2000,
                    2001,2002]]))        
cm

In [ ]:
# creat multiIndex using from_product constructor
cm = pd.DataFrame(np.random.rand(4, 2),pd.MultiIndex.from_product([['a', 'b'], [1, 2]]))
cm

In [ ]:
# example
cm = pd.DataFrame(np.random.rand(9, 2),pd.MultiIndex.from_product([['Oyo', 'Rivers', 'Lagos'], [2000, 
                                                                    2001,2002]]))
cm

In [ ]:
# You can also construct multiIndex directly using internal encoding by levels and labels(codes)
cm = pd.MultiIndex(levels=[['a', 'b', 'c'], [1, 2, 3]], codes=[[0, 0, 1, 1,2,2], [0, 1,2, 0, 1,2]])
cm

In [ ]:
# apply the index to dataframe
ex = pd.DataFrame(populations, pd.MultiIndex.from_tuples(cm))
ex

In [ ]:
ex1 = pd.DataFrame(populations, pd.MultiIndex.from_arrays(
                [['California', 'California', 'New York', 'New York', 'Texas', 'Texas'], 
                [2000, 2010, 2000, 2010, 2000, 2010]]), columns=['Population'])
ex1

In [ ]:
# create multiIndex manually
ex = pd.DataFrame(populations,pd.MultiIndex(levels=[['California', 'New York', 'Texas'], 
                                [2000, 2010]], codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]]))
ex

In [ ]:
ex = pd.DataFrame(populations, pd.MultiIndex.from_product([['California', 'New York', 'Texas'],
                                                           [2000,2010]]), columns=['population'])
ex

In [ ]:
# giving a column name to your index
ex1.index.names = ['state', 'year']        
ex1

# MultiIndex for Columns

In [ ]:
# hierarchical indices and columns 
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],  names=['year', 'visit']) 

columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], 
                                     names=['patient', 'type'])

In [ ]:
# mock some data 
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
data

In [ ]:
# create the DataFrame 
health_data = pd.DataFrame(data, index=index, columns=columns) 
health_data

In [ ]:
# get all data of a particular patient
health_data['Guido']

In [ ]:
# get only the Temp data of a particular patient
health_data["Guido"]["Temp"]

In [ ]:
# get the 2013 data of a particular patient 
health_data.iloc[0]["Guido"]

In [ ]:
# return 2013 Temp data of a particular patient
health_data.iloc[0]["Guido"]["Temp"]

# Lets try this with a school record data and create a multiIndex

In [ ]:
# extract data from csv
school_data = pd.read_csv("C:\\Users\\OWNER\\Datasets\\student record.csv")
school_data

In [ ]:
# hierarchical and columns  
columns = pd.MultiIndex.from_product([['English','Maths', 'Social Study', 'Agriculture'],
                                      ['SS1','SS2','SS3']], names=['subject', 'Class'])

In [ ]:
#extract the name as series object
# student_name= school_data.reindex(school_data['Name'])
# student_name
school_data = school_data.set_index("Name")
school_data

In [ ]:
student_name = school_data.index
student_name

In [ ]:
school_data.columns=columns
school_data

In [ ]:
#extract the values as numpy array
student_score =school_data.values
student_score

In [ ]:
#hierarchical indices and generate the serial number
sn = np.arange(1,11)
index = pd.MultiIndex.from_arrays([sn, student_name], names=['S/N', 'Student Name'])

In [ ]:
#create the new dataframe with multiIndex value
report_card = pd.DataFrame(student_score, index=index, columns=columns)
report_card

In [ ]:
# extract data using an index 
report_card[6:10]

In [ ]:
# extract English score for ss1 class for all students
report_card['English', 'SS1']

In [ ]:
# extract the first six row and first six column of the data
report_card.iloc[:6, :6]

In [ ]:
# extract the English score for ss3 using loc function
report_card.loc[:, ("English", "SS3")]

In [ ]:
# create an object of indexSlice and use it to specify the slicing
idx = pd.IndexSlice
report_card.loc[idx[:,"Success Edom"], idx[:,"SS3"]]

In [ ]:
# you can perform aggregates on multiIndex e.g sum(), max(), mean(), etc.
mean_value = report_card.sum(axis=1,level="Class")
mean_value

# Combining Datasets: Concat and Append

In [ ]:
# exmple with numpy array
x = [1,2,3,4]
y = [5,6,7,8]
z = [9,10,11,13]
np.concatenate([x,y,z])

In [ ]:
# with multidimension np array
a = [[1,2,3,4],[5,6,7,8]]
b = [[11,12,13,14],[15,16,17,18]]
np.concatenate([a,b], axis=0)

In [ ]:
# how it works with pd.concat series
ser1 = pd.Series(['a','b','c','d'], index=[1,2,3,4])
ser2 = pd.Series(['e','f','g','i'], index=[1,6,2,8])
print('ser1 = \n', ser1, "\n")
print('ser2 = \n', ser2)

In [ ]:
# concatenate the two series objects
pd.concat([ser1,ser2])

In [ ]:
# how it works with pd.concat dataframe 
# pd.concat allows for duplicate of index unlike np array
df1 = pd.DataFrame([['a','b'],['c','d']], index=[1,2], columns=['One', 'Two'])
df2 = pd.DataFrame([['a','b'],['c','d']], index=[1,2], columns=['One', 'Two'])
print('df1 = \n', df1)
print('df2 = \n', df2)

In [ ]:
# let's concatenate the two dataframe objects
pd.concat([df1,df2])

In [ ]:
# the concatenation can also be done along axis but row is the default
pd.concat([df1,df2], axis=1)

In [ ]:
# the axis can also be specified by name
pd.concat([df1,df2], axis="columns")

In [ ]:
# but to stop duplicate of index use verify_integrity parameter set to True
pd.concat([ser1,ser2], verify_integrity=True)

In [ ]:
# to ignore the index and let pd.concate create its own index set 
# ignore_index to True
pd.concat([ser1,ser2], ignore_index=True)

In [ ]:
# with duplicate indices, setting verify_integrity=True will raise error but adding 
# ignore_index=True can make it to work 
ser3 = pd.Series(['a','b','c','d'], index=[1,2,3,4])
ser4 = pd.Series(['e','f','g','i'], index=[2,6,3,8])
pd.concat([ser1,ser2], verify_integrity=True, ignore_index=True)

In [ ]:
# we can also use the multiIndex key to specify label to the data
pd.concat([ser1,ser2], keys=['A','B'])

In [ ]:
# concatenating with joins
df1 = pd.DataFrame([['a','b','c'],['d','e','f']], index=[1,2], columns=['A', 'B', 'C'])
df2 = pd.DataFrame([['b','c','d'],['g','h','i']], index=[1,2], columns=['B', 'C', 'D'])
print('df1 = \n', df1)
print('df2 = \n', df2)

In [ ]:
# outer join is merging of all exiting columns on both dataframe objects. this is the default merge 
pd.concat([df1, df2], join='outer')

In [ ]:
# inner merging will only merger based on column common to both dataframe objects
pd.concat([df1,df2], join='inner')

In [ ]:
# join_axes will join based on df2 columns available
# pd.concat([df1, df2], join_axes=[df2.columns]) join_axes is deprecated in this version

In [ ]:
# you can also use the append function of pd to join two series or dataframe
ser1.append(ser2)

In [ ]:
# append function also works on dataframe object
df1.append(df2)

# combining datasets: Merge and Join

In [ ]:
df1 = pd.DataFrame({'employee':['Bob', 'Jake', 'Lisa', 'Charse'], 
                    'Department':['Accounting', 'Engineering', 'Engineering', 'HR']})
df1

In [ ]:
df2 = pd.DataFrame({'employee':['Bob', 'Jake', 'Lisa', 'Charse'], 
                    'Hire_date':[2004, 2008, 2012, 2014]})
df2

In [ ]:
#one-to-one join
one2one = pd.merge(df1, df2)
one2one

In [ ]:
# many-to-one
df3 = pd.DataFrame({'Department':['Accounting', 'Engineering', 'HR'], 
                    'Supervisor':['Carly', 'Rosemary', 'Stephen'] })
df3

In [ ]:
many2one= pd.merge(one2one, df3)
many2one

In [ ]:
# many-to-many
df4 = pd.DataFrame({'Department':['Accounting', 'Accounting', 'Engineering', 'Engineering', 
                    'HR', 'HR'], 'Skills':['Agriculture', 'Physics', 'Engligh', 'Chemistry',
                    'Computer', 'Mechanical']})
df4

In [ ]:
pd.merge(df1, df4)

In [ ]:
new_merge =pd.merge(many2one, df4)
new_merge

# specification of the merge key

In [ ]:
# using the 'on' keyword
pd.merge(df1, df2, on='employee')

In [ ]:
new_merge =pd.merge(many2one, df4, on="Department")
new_merge

In [ ]:
# using the 'left_on' amd right_on keyword 
df5 = pd.DataFrame({'Name':['Bob', 'Jake', 'Lisa', 'Charse'], 
                    'Salary':[70000, 80000, 120000, 90000]})
df5

In [ ]:
pd.merge(df1, df5, left_on='employee', right_on='Name')

In [ ]:
# to drop 'name'column so as to remove redundant column
pd.merge(df1, df5, left_on='employee', right_on='Name').drop('Name', axis=1)

# merging using index

In [ ]:
# we first turn the employee column of each table to index and using the left_index and
# right_index
df1ind = df1.set_index('employee')
df2ind = df2.set_index("employee")
print(df1ind); print(df2ind)

In [ ]:
pd.merge(df1ind, df2ind, left_index=True, right_index=True)

In [ ]:
# using the join function which use index key by default
df1ind.join(df2ind)

# using both index and column name to merge

In [ ]:
# using left_index with right_on 
pd.merge(df1ind, df5, left_index=True, right_on='Name')

In [ ]:
# using left_on with righ_index
pd.merge(df5, df1ind, right_index=True, left_on='Name')

# merging using set arithmetic for joins

In [ ]:
df6 = pd.DataFrame({'Name':['Peter', 'Paul', 'Mary'], 'Food':['Fish', 'Beans','Bread']}, 
                   columns=['Name', 'Food'])

df7 = pd.DataFrame({'Name':['Mary', 'Joseph'], 'Drink':['Wine', 'Beer']}, 
                   columns=['Name', 'Drink'])
print(df6,"\n"); print(df7)

In [ ]:
# using the inner join by default
pd.merge(df6, df7)

In [ ]:
# using the inner join
pd.merge(df6, df7, how='inner')

In [ ]:
# using the outer join
pd.merge(df6, df7, how='outer')

In [ ]:
# using the inner left
pd.merge(df6, df7, how='left')

In [ ]:
# using the right join
pd.merge(df6, df7, how='right')

# working with overlaping column names

In [ ]:
na1 = pd.DataFrame({'Name':['Sunday', 'Joel', 'Johnson', 'Charse'], 
                    'position':['CEO', 'MD', 'Supervisor', 'Manager']})

na2 = pd.DataFrame({'Name':['Sunday', 'Joel', 'Johnson', 'Charse'], 
                    'position':['Supervisor', 'CEO', 'Manager', 'MD']})
print(na1,'\n'); print(na2)

In [ ]:
# to avoid overlapping column names the merger will append a surfix automatically to make 
# each column unique
pd.merge(na1, na2, on='Name')

In [ ]:
# you can also specify the surfix to use 
pd.merge(na1, na2, on='Name', suffixes=['_College', '_Ibadan'])

# Example: Working with US State Data

In [ ]:
us_pop = pd.read_csv("C:\\Users\\OWNER\\Datasets\\us_state_population.csv") 
us_area = pd.read_csv("C:\\Users\\OWNER\\Datasets\\us_state_area.csv") 
us_abbrevs = pd.read_csv("C:\\Users\\OWNER\\Datasets\\us_states_abbriev.csv")

In [ ]:
us_pop.head()

In [ ]:
us_area.head()

In [ ]:
us_abbrevs.head()

In [ ]:
# let merge the abbreviation table and population table on the outer join
abb_pop = pd.merge(us_pop, us_abbrevs, how="outer", left_on="state/region", right_on="abbreviation")
abb_pop.head()

In [ ]:
# now we have two columns conveying the same information and we need to drop one
abb_pop = abb_pop.drop(labels=["abbreviation"], axis=1)
abb_pop.head()

In [ ]:
# let's double-caheck if there were any mismatches in the data using nulls:
abb_pop.isnull().any()

In [ ]:
# let us see which of the datas are null
abb_pop[abb_pop["population"].isnull()].head()

In [ ]:
# let figure out which region has is mismatch data
abb_pop.loc[abb_pop["state"].isnull(), "state/region"].unique()

In [ ]:
# this shows that PR has no state and USA has no abbreviation so let's fix this error
abb_pop.loc[abb_pop["state/region"]=="PR", "state"]="Puerto Rico"
abb_pop.loc[abb_pop["state/region"]=="USA", "state"]="United States"

In [ ]:
# lets check again if there is still any column with null value
abb_pop.isnull().any()

In [ ]:
# now let us see the final table after error correction
abb_pop.tail()

In [ ]:
# now we can now merge the result with US area data using a similar columns
final_merge = pd.merge(abb_pop, us_area, on="state", how="left")
final_merge.head()

In [ ]:
# lets check if there are any mismatched data in the final_merge table
final_merge.isnull().any()

In [ ]:
# so lets  check for the region with null data
final_merge["state"][final_merge["area (sq. mi)"].isnull()].unique()

In [ ]:
# let us drop the null values because the population density of the entire United State is 
# not relevant to our current discussion
final_merge.dropna(inplace=True)
final_merge.head()

In [ ]:
# lets check if there are any mismatched data in the final_merge table
final_merge.isnull().any()

In [ ]:
# Lets select the portion of the data corresponding with the year 2010 and the total population.
data2010 =final_merge.query("year == 2010 & ages == 'total'")
data2010.head()

In [ ]:
# now lets compute the population density and display it in order. we will start by reindenxing
# our data on the state and then compute the result
data2010.set_index('state', inplace=True)
density = data2010['population']/data2010['area (sq. mi)']
density.sort_values(ascending=True, inplace=True)
density.head()

In [ ]:
density.tail()

In [ ]:
# let us get the state with the highest landmax
final_merge['state'][final_merge['area (sq. mi)'].values.argmax()]
# state = us_area['state]
# landmax = us_area['area(sq. mi)]
# state[landmax]

In [ ]:
popind = final_merge['area (sq. mi)'].values.argmax()
popind

In [ ]:
final_merge['population'][popind]

In [ ]:
final_merge['population'][final_merge['area (sq. mi)'].values.argmax()]

In [ ]:
final_merge['population'][final_merge['area (sq. mi)'].values.argmin()]

# simple aggregation in pandas

In [ ]:
# computing aggregation on Series object
rng = np.random.RandomState(42)
agser = pd.Series(rng.rand(5))
agser

In [ ]:
print('Sum = '+str(agser.sum()))
print('Minimum = ',agser.min())
print('Median = ',agser.median())
print('Maximum = ',agser.max())

In [ ]:
print('Mean = ',agser.mean())
print('Standart Dev = ',agser.std())
print('Variance = ',agser.var())

In [ ]:
# For a DataFrame, by default the aggregates return results within each column:
df = pd.DataFrame({'A': rng.rand(5),'B': rng.rand(5)})
df

In [ ]:
# By default the aggragation will be done on column based
df.mean()

In [ ]:
# By specifying the axis argument, you can instead aggregate within each row:
df.mean(axis='columns')

In [ ]:
# here is a convenience method describe() that computes several common aggregates for
# each column and returns the result.
planets.describe()

#Aggregation Description
#count() Total number of items
#first(), last() First and last item
#mean(), median() Mean and median
#min(), max() Minimum and maximum
#std(), var() Standard deviation and variance
#mad() Mean absolute deviation
#prod() Product of all items
#sum() Sum of all items

In [ ]:
# computing aggregation on DataFrame object
report_card

In [ ]:
report_card.describe()

In [ ]:
# get the sum along the row
report_card.sum()

In [ ]:
# get the sum along columns and give the max score
print(report_card.sum(axis='columns'), "\n")
print('Highest score = ',report_card.sum(axis='columns').max())

In [ ]:
# find the student with the max score
# std_rec = report_card.sum(axis='columns'); 
# score = report_card.sum(axis='columns').max()
# std_rec[std_rec >= score]
report_card[report_card.sum(axis='columns')>= report_card.sum(axis='columns').max()].sum(axis='columns')

In [ ]:
# find the student with the max score in English
english = report_card['English'].sum(axis='columns')[report_card['English'].sum(
                        axis='columns')>=report_card['English'].sum(axis='columns').max()]
english
# breakdown of the above one line code
# english = report_card['English'].sum(axis='columns')
# max =english.max()
# english[english>=max]

In [ ]:
# extract a student with his english record only
report_card.loc[3]['Charse Akpan':'Charse Akpan']['English']

In [ ]:
# extract the first three student with his english record only
report_card.iloc[:3]['English']

In [ ]:
# Assignment
# import califonia cities
# describe the data set
# convert the city column to be index
# city that has the highest population
# calculate the sum along column axis
#

# Using GroupBy: Spliting, Apply and Combine
#Spliting: split the table into their various group
#Apply: apply aggregation on the data
#Combine: combine the group back into a single table

In [ ]:
data_df = pd.DataFrame({"key":['A','B','C','A','B','C'], "data":range(6)})
data_df

In [ ]:
# we can compute the most basic split-apply-combine operation with the groupby() method of 
# DataFrame by passong the name of the desired key column
data_df.groupby('key')

In [ ]:
# the groupby returns an object of the groupby. But will returns an output of the table only when
# we perform an aggregation on the groupby object.
data_df.groupby('key').sum()

# Using the Planets data as example

In [ ]:
# Here we will use the Planets dataset, available via the Seaborn package. online conection is 
# requred to load this data
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

In [ ]:
# Let's practise this with the planets data above.
planets.head()

In [ ]:
# the groupby object support column indexing in the same way as the dataframe and returns a 
# modified groupby object
planets.groupby("method")

In [ ]:
# the groupby can also be done on specific column on the dataframe object
planets.groupby("method")['orbital_period']

In [ ]:
# As with the GroupBy object, no computation is done until we call some aggregate on the object:
planets.groupby("method").median()

In [ ]:
# aggregate can also be done on specific column on the dataframe object
planets.groupby("method")['orbital_period'].median()

In [ ]:
# you can use the describe() method of DataFrames to perform a set of aggregations that describe
# each group in the data:
planets.groupby("method")['year'].describe()

In [ ]:
# let us practice the groupby with new_merger data above
new_merge

In [ ]:
# let us groupby the enployee column
new_merge.groupby('employee')

In [ ]:
# using describe function to see the output of the groupby
new_merge.groupby('employee')['Skills'].describe()

# Aggregate, filter, transform, apply
GroupBy objects have aggregate(), filter(), transform(), and apply() methods that efficiently implement a variety of
useful operations before combining the grouped data

In [ ]:
# For the purpose of the following subsections, we’ll use this DataFrame:
rng= np.random.RandomState(0)
df_gen = pd.DataFrame({"key":['A','B','C','A','B','C'], "data":range(6), 'data2':rng.randint(0, 10, 6)})
df_gen

In [ ]:
# aggregate() can take a string, a function, or a list thereof, and compute all the aggregates 
# at once. 
df_gen.groupby('key').aggregate(['min', np.median, max])

In [ ]:
# Another useful pattern is to pass a dictionary mapping column names to operations
# to be applied on that column:
df_gen.groupby('key').aggregate({'data':'min','data2':max})

In [ ]:
# A filter() function allows you to drop data based on the group properties. For example, we 
# might want to keep all groups in which the standard deviation is larger than some critical value
def filter_func(x):
    return x['data2'].std()>4
print(df_gen.groupby('key').std());
df_gen.groupby('key').filter(filter_func)

In [ ]:
# transform() return some transformed version of the full data to recombine.
# A common example is to center the data by subtracting the group-wise mean:
df_gen.groupby('key').transform(lambda x: x - x.mean())

In [ ]:
# The apply() method lets you apply an arbitrary function to the group results. The function should 
# take a DataFrame, and return either a Pandas object (e.g., DataFrame, Series) or a scalar; 
def norma_data(x):
    x['data']/=x['data2'].sum()
    return x
df_gen.groupby('key').apply(norma_data)

# Specifying the split key: A list, array, series, or index providing the grouping keys.

In [ ]:
# The key can be any series or list with a length matching that of the DataFrame. For example:
L = [0,1,0,1,0,1]
print(df_gen)
df_gen.groupby(L).sum()

In [ ]:
# more verbose way of accomplishing the df.groupby('key') from before:
print(df_gen)
df_gen.groupby('key').sum()

In [ ]:
# Another method is to provide a dictionary that maps index values to the group keys:
keyind =df_gen.set_index('key')
print(keyind)
mapping = {'A':'vowel', 'B':'consonant', 'C':'consonant'}
keyind.groupby(mapping).sum()

In [ ]:
mapping = {'A':'vowel', 'B':'consonant', 'C':'ungroup'}
keyind.groupby(mapping).sum()

In [ ]:
# Similar to mapping, you can pass any Python function that will input the index value and 
# output the group:
print(keyind); 
keyind.groupby(str.lower).mean()

# Grouping example: Using planets dataset

In [ ]:
#  in a couple lines of Python code we can put all these together and count discovered planets 
#     by method and by decade:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

# Working with pivot table

In [ ]:
# we’ll use the database of passengers on the Titanic, available through the Seaborn library
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
# To start learning more about this data, we might begin by grouping it according to
# gender, survival status, or some combination thereof. Let’s look at survival rate by gender:
titanic.groupby('sex')[['survived']].sum()

In [ ]:
# Using the vocabulary of GroupBy, we might proceed using something like this: we group by class 
# and gender, select survival, apply a sum aggregate, combine the resulting groups, and then 
# unstack the hierarchical index
titanic.groupby(['sex', 'class'])['survived'].aggregate('sum').unstack()

In [ ]:
# Here is the equivalent to the preceding operation using the pivot_table method of DataFrames:
titanic.pivot_table('survived', index='sex', columns='class', aggfunc={'survived':sum})

# Multilevel pivot tables
Just as in the GroupBy, the grouping in pivot tables can be specified with multiple levels, and via a number of options.

In [ ]:
# we might be interested in looking at age as a third dimension. We’ll bin the age using the pd.cut 
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', age], 'class', aggfunc={'survived':sum})

In [ ]:
# We can apply this same strategy when working with the columns as well; let’s add info on the
# fare paid using pd.qcut to automatically compute quantiles:
fare = pd.qcut(titanic['fare'], 2)
titanic.pivot_table('survived', ['sex', age], [fare, 'class'], aggfunc={'survived':sum},  fill_value=0)

#The full call signature of the pivot_table method of DataFrames is as follows:
#DataFrame.pivot_table(data, values=None, index=None, columns=None,
aggfunc='mean', fill_value=None, margins=False,
dropna=True, margins_name='All')

In [ ]:
# The aggfunc keyword controls what type of aggregation is applied, which is a mean by default. 
# Additionally, it can be specified as a dictionary mapping a column to any of the above desired
# options:
titanic.pivot_table(index='sex', columns='class', aggfunc={'survived':sum, 'fare':'mean'})

In [ ]:
# it’s useful to compute totals along each grouping. This can be done via the margins keyword:
titanic.pivot_table('survived', index='sex', columns='class', margins=True, aggfunc={
                        'survived':sum}, margins_name="Total")

# Example: Using US Birthrate Data

In [ ]:
births = pd.read_csv('C:\\PythonClass\\Data Science\\Datasets\\us_births.csv')
births.head()

In [ ]:
# let us check for brief details around the data 
births.describe()

In [ ]:
# Let's get more discription on the dataset
births.info()

In [ ]:
# Let’s add a decade column, so we can group base on decade
births['decade'] = 10 * (births['year'] // 10)
births.head()

In [ ]:
# We can start to understand this data a bit more by using a pivot table. Lets take a look 
# at male and female births as a function of decade:
births.pivot_table('births', index='decade', columns='gender', aggfunc='sum', margins=True,
                   margins_name="Total")

In [ ]:
# To see this trend a bit more clearly, we can use the built-in plotting tools in Pandas to
# visualize the total number of births by year
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() # use Seaborn styles
births.pivot_table('births', index='year', columns='gender', aggfunc='sum').plot()
plt.ylabel('total births per year');

# Further data exploration
Though this doesn’t necessarily relate to the pivot table, there are a few more interesting features we can pull out of this dataset using the Pandas tools covered up to this
point.

In [ ]:
# We must start by cleaning the data a bit, removing outliers caused by mistyped dates (e.g
# June 31st) or missing values (e.g., June 99th).
quartiles = np.percentile(births['births'], [25, 50, 75])
mu = quartiles[1]
sig = 0.74 * (quartiles[2] - quartiles[0])
sig

In [ ]:
# the 0.74 comes from the interquartile range of a Gaussian distribution. 
# With this we can use the query() method to filter out rows with births outside these values:
births = births.query('(births > @mu - 5 * @sig) & (births < @mu + 5 * @sig)')
print(births.describe(), "\n")
births.info()

In [ ]:
# set 'day' column to integer; it originally was a string due to nulls
births['day'] = births['day'].astype(int)
print(births.info(),"\n")
births.head()

In [ ]:
# Finally, we can combine the day, month, and year to create a Date index. This allows us to 
# quickly compute the weekday corresponding to each row:
births.index = pd.to_datetime(births.year.astype(str) + births.month.astype(str) + 
                              births.day.astype(str), format='%Y%m%d')
births.index

In [ ]:
births.head()

In [ ]:
# quickly compute the weekday corresponding to each row:
births['dayofweek'] = births.index.dayofweek
births.index.name = "Date of birth"
births.head()

In [ ]:
# Using this we can plot births by weekday for several decade:
import matplotlib.pyplot as plt
import matplotlib as mpl
births.pivot_table('births', index='dayofweek', columns='decade', aggfunc='mean').plot()
plt.gca().set_xticklabels(['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'])
plt.ylabel('mean births by day');

In [ ]:
# Another interesting view is to plot the mean number of births by the day of the year.
# Let’s first group the data by month and day separately:
births_by_date = births.pivot_table('births', [births.index.month, births.index.day])
births_by_date.head()

In [ ]:
# To make this easily plottable, let’s turn these months and days into a date by associating them
# with a dummy year variable (making sure to choose a leap year so February 29th is correctly handled!)
births_by_date.index = [pd.datetime(2012, month, day) for (month, day) in births_by_date.index]
births_by_date.head()

In [ ]:
# Focusing on the month and day only, we now have a time series reflecting the average number of 
# births by date of the year. From this, we can use the plot method to plot the data 
fig, ax = plt.subplots(figsize=(12, 4))
births_by_date.plot(ax=ax);

# Pandas String Operations

In [ ]:
# For arrays of strings, NumPy does not provide such simple access, and thus you’re stuck using 
# a more verbose loop syntax:
data = ['peter', 'paul', 'mary', 'rose', 'sunday', 'rechard', 'charse']
[s.capitalize() for s in data]

In [ ]:
# This is perhaps sufficient to work with some data, but it will break and raise an error if 
# there are any missing values. For example:
data = ['peter', 'Paul', None, 'MARY', 'charse']
[s.capitalize() for s in data]

In [ ]:
# Pandas includes features to address both this need for vectorized string operations and for 
# correctly handling missing data via the str attribute of Pandas Series and Index objects 
# containing strings.
name = ['peter', 'paul', 'mary', 'rose', None, 'sunday', 'rechard', 'charse']
name_pd = pd.Series(name)
name_pd

In [ ]:
# We can now call a single method that will capitalize all the entries, while skipping
# over any missing values:
name_pd.str.capitalize()

In [ ]:
# Using tab completion on this str attribute will list all the vectorized string methods
# available to Pandas. 
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam','Eric Idle', 
                   'Terry Jones', 'Michael Palin'])
monte

Pandas Methods similar to Python string methods
Nearly all Python’s built-in string methods are mirrored by a Pandas vectorized string
method. Here is a list of Pandas str methods that mirror Python string methods:
len() lower() translate() islower()
ljust() upper() startswith() isupper()
rjust() find() endswith() isnumeric()
center() rfind() isalnum() isdecimal()
zfill() index() isalpha() split()
strip() rindex() isdigit() rsplit()
rstrip() capitalize() isspace() partition()
lstrip() swapcase() istitle() rpartition()

In [ ]:
# Notice that these have various return values. 
# some return numbers:
monte.str.len()

In [ ]:
# Some others, like lower(), return a series of string
monte.str.lower()

In [ ]:
# Or Boolean values:
monte.str.startswith('T')

In [ ]:
# Still others return lists or other compound values for each element:
monte.str.split()

# Methods using regular expressions
In addition, there are several methods that accept regular expressions to examine the content of
each string element, and follow some of the API conventions of Python’s built-in re module

#match() Call re.match() on each element, returning a Boolean.
#extract() Call re.match() on each element, returning matched groups as strings.
#findall() Call re.findall() on each element.
#replace() Replace occurrences of pattern with some other string.
#contains() Call re.search() on each element, returning a Boolean.
#count() Count occurrences of pattern.
#split() Equivalent to str.split(), but accepts regexps.
#rsplit() Equivalent to str.rsplit(), but accepts regexps.

In [ ]:
# For example, we can extract the first name from each by asking for a contiguous group of 
# characters at the beginning of each element:
monte.str.extract('([A-Za-z]+)')

In [ ]:
# Or we can do something more complicated, like finding all names that start and end with a 
# consonant, making use of the start-of-string (^) and end-of-string ($) regular expression:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

# Miscellaneous methods
#Finally, there are some miscellaneous methods that enable other convenient operations
#Method Description
#get() Index each element
#slice() Slice each element
#slice_replace() Replace slice in each element with passed value
#cat() Concatenate strings
#repeat() Repeat values
#normalize() Return Unicode form of string
#pad() Add whitespace to left, right, or both sides of strings
#wrap() Split long strings into lines with length less than a given width
#join() Join strings in each element of the Series with passed separator
#get_dummies() Extract dummy variables as a DataFrame

In [ ]:
# we can get a slice of the first three characters of each array using str.slice(0, 3).
print(monte.str.slice(0, 3), '\n')
print(monte.str[0:3])

In [ ]:
# For example, to extract the last name of each entry, we can combine split() and get():
monte.str.split().str.get(-1)

Indicator variables. Another method that requires a bit of extra explanation is the
get_dummies() method. This is useful when your data has a column containing some
sort of coded indicator. For example, we might have a dataset that contains informa‐
tion in the form of codes, such as A=“born in America,” B=“born in the United King‐
dom,” C=“likes cheese,” D=“likes spam”:

In [ ]:
# for example
full_monte = pd.DataFrame({'name': monte, 'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

In [ ]:
# The get_dummies() routine lets you quickly split out these indicator variables into a DataFrame:
full_monte['info'].str.get_dummies('|')

# Example: Using Recipe Database
These vectorized string operations become most useful in the process of cleaning up
messy, real-world data. Here I’ll walk through an example of that, using an open
recipe database compiled from various sources on the Web.

In [ ]:
try:
    recipes = pd.read_json('C:\\Users\\OWNER\\Datasets\\recipeitems-latest\\recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

In [ ]:
# We get a ValueError mentioning that there is “trailing data.”it seems that it’s due to using a 
# file in which each line is itself a valid JSON, but the full file is not. Let’s check if this
# interpretation is true:
with open('C:\\Users\\OWNER\\Datasets\\recipeitems-latest\\recipeitems-latest.json') as f:
    line = f.readline()
pd.read_json(line)

In [ ]:
# Yes, apparently each line is a valid JSON, so we’ll need to string them together. 
# read the entire file into a Python array
with open('C:\\Users\\OWNER\\Datasets\\recipeitems-latest\\recipeitems-latest.json', 'r',
          encoding='utf-8', errors='ignore') as f:
    # Extract each line
    data = (line.strip() for line in f)
    # Reformat so each line is the element of a list
    data_json = "[{0}]".format(','.join(data))
# read the result as a JSON
recipes = pd.read_json(data_json)
recipes.shape

In [ ]:
#  Let’s take a look at the dataset:
recipes.head()

In [ ]:
#  Let’s take a look at one row to see what we have:
recipes.iloc[0]

In [ ]:
# Let’s start by taking a closer look at the ingredients:
recipes.ingredients.str.len()

In [ ]:
# Just out of curiosity, let’s see which recipe has the longest ingredient list:
recipes.name[np.argmax(recipes.ingredients.str.len())]

In [ ]:
recipes.description[4]

In [ ]:
# We can do other aggregate explorations; for example, let’s see how many of the recipes are
# for breakfast food:
recipes.description.str.contains('[Bb]reakfast').sum()

In [ ]:
# Or how many of the recipes list cinnamon as an ingredient:
recipes.ingredients.str.contains('[Cc]innamon').sum()

In [ ]:
# We could even look to see whether any recipes misspell the ingredient as “cinamon”:
recipes.ingredients.str.contains('[Cc]inamon').sum()

In [ ]:
# find a recipe that uses all those ingredients, to extract a clean list of ingredients from 
# each row.
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley',
'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

In [ ]:
# We can then build a Boolean DataFrame consisting of True and False values, indicating whether
# this ingredient appears in the list:
import re
spice_df = pd.DataFrame(dict((spice, recipes.ingredients.str.contains(spice, re.IGNORECASE))
                             for spice in spice_list))
spice_df.head()

In [ ]:
# Now, as an example, let’s say we’d like to find a recipe that uses parsley, paprika, and
# tarragon. We can compute this very quickly using the query()
selection = spice_df.query('parsley & paprika & tarragon')
len(selection)

In [ ]:
# let’s use the index returned by this selection to discover the names of the recipes that 
# have this combination:
recipes.name[selection.index]

# working with Time series
Date and time data comes in a few flavors, which we will discuss here:
• Time stamps reference particular moments in time (e.g., July 4th, 2015, at 7:00
a.m.).
• Time intervals and periods reference a length of time between a particular beginning and end point for example, the year 2015. 
• Time deltas or durations reference an exact length of time (e.g., a duration of
22.56 seconds).

In [ ]:
# Starting with the Native Python dates and times: datetime and dateutil
# For example, you can manually build a date using the datetime type:
from datetime import datetime
date = datetime(year=2015, month=7, day=4)
date

In [ ]:
# using the dateutil module, you can parse dates from a variety of string formats:
from dateutil import parser
date = parser.parse("4th of July, 2015")
date

In [ ]:
# Once you have a datetime object, you can do things like printing the month of the year:
date.strftime('%m')

In [ ]:
date_now = date.now()
date_now.hour

In [ ]:
# Typed arrays of times: NumPy’s datetime64
# The datetime64 dtype encodes dates as 64-bit integers, and thus allows arrays of dates to be
# represented very compactly. 
date = np.array('2015-07-04', dtype=np.datetime64)
date

In [ ]:
# Once we have this date formatted, however, we can quickly do vectorized operations on it:
date + np.arange(12)

In [ ]:
# for a day-based datetime:
np.datetime64("2020-02-12")

In [ ]:
# for a minute-based datetime:
np.datetime64("2020-02-12 02:00")

In [ ]:
# You can force any desired fundamental unit using one of many format codes; for example, here 
# we’ll force a nanosecond-based time:
np.datetime64("2020-02-12 02:40:30.50", "ns")

In [ ]:
# Dates and times in Pandas: Best of both worlds
# We can parse a flexibly formatted string date,
pd_date = pd.to_datetime("4th of Feb, 2020")
pd_date

In [ ]:
# we can use the formated codes to output the day of the week:
pd_date.strftime('%A')

In [ ]:
# we can do NumPy-style vectorized operations directly on this same object:
pd_date + pd.to_timedelta(np.arange(12), "D")

# Pandas Time Series: Indexing by Time

In [ ]:
# we can construct a Series object that has timeindexed data:
index = pd.DatetimeIndex(['2018-07-04', '2019-07-04', '2018-08-04', '2019-08-04'])
date_data = pd.Series([0, 1, 2, 3], index= index)
date_data

In [ ]:
# Now that we have this data in a Series, we can make use of any of the Series indexing patterns
date_data['2018-07-04':'2019-07-04']

In [ ]:
# There are additional special date-only indexing operations, such as passing a year to
# obtain a slice of all data from that year:
date_data['2018']

# Pandas Time Series Data Structures

In [ ]:
# Passing a single date to pd.to_datetime() yields a Timestamp; passing a series of dates by
# default yields a DatetimeIndex:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
'2015-Jul-6', '07-07-2015', '20150708'])
dates

In [ ]:
# Any DatetimeIndex can be converted to a PeriodIndex with the to_period() function with the 
# addition of a frequency code; here we’ll use 'D' to indicate daily frequency:
dates.to_period('D')

In [ ]:
# A TimedeltaIndex is created, for example, when one date is subtracted from another:
dates - dates[0]

# Regular sequences: pd.date_range()
To make the creation of regular date sequences more convenient, Pandas offers a few
functions for this purpose: pd.date_range() for timestamps, pd.period_range() for
periods, and pd.timedelta_range() for time deltas.

In [ ]:
# Similarly, pd.date_range() accepts a start date, an end date, and an optional frequency code to
# create a regular sequence of dates. By default, the frequency is one day:
pd.date_range('2015-07-03', '2015-07-10')

In [ ]:
# the date range can be specified not with a start- and endpoint, but with a startpoint and a 
# number of periods:
pd.date_range('2015-07-03', periods=8)

In [ ]:
# You can modify the spacing by altering the freq argument, which defaults to D. For example, here
# we will construct a range of hourly timestamps:
pd.date_range('2015-07-03', periods=8, freq='H')

In [ ]:
# To create regular sequences of period or time delta values, the very similar pd.period_range() 
# and pd.timedelta_range() functions are useful. Here are some monthly periods:
pd.period_range('2015-07-3', periods=8, freq='M')

In [ ]:
# And a sequence of durations increasing by an hour:
pd.timedelta_range(0, periods=10, freq='H')

# Frequencies and Oﬀsets
#D= Calendar day B= Business day
#W= Weekly       M= Month end 
#Q= Quarter end  BQ= Business quarter end
#A= Year end     BA= Business year end
#H= Hours        BH= Business hours
#T= Minutes      S= Seconds
#L= Milliseonds  U= Microseconds
#N= Nanoseconds  BM= Business month end

In [ ]:
# for a frequency of 2 hours 30 minutes, we can combine the hour (H) and minute (T) codes as:
pd.timedelta_range(0, periods=9, freq="2H30T")

In [ ]:
# For example, we can create a business day offset directly as follows: 
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods=5, freq=BDay())

# Resampling, Shifting, and Windowing
The ability to use dates and times as indices to intuitively organize and access data is
an important piece of the Pandas time series tools.

In [ ]:
# Using some stock price data as an example. Here we will load google’s closing price history
# You need to install pandas_datareader using pip
from pandas_datareader import data
goog = data.DataReader('GOOG', start='2004', end='2016', data_source='yahoo')
goog.head()

In [ ]:
# For simplicity, we’ll use just the closing price:
goog = goog['Close']

In [ ]:
# We can visualize this using the plot() method, after the normal Matplotlib setup
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
goog.plot();

# Resampling and converting frequencies
One common need for time series data is resampling at a higher or lower frequency.
You can do this using the resample() method, or the much simpler asfreq() method. The primary 
difference between the two is that resample() is fundamentally a data aggregation, while asfreq() 
is fundamentally a data selection.

In [ ]:
# Here we will resample the data at the end of business year
goog.plot(alpha=0.5, style='-')
goog.resample('BA').mean().plot(style=':')
goog.asfreq('BA').plot(style='--');
plt.legend(['input', 'resample', 'asfreq'], loc='upper left');

In [ ]:
# Here, we will resample the business day data at a daily frequency (i.e., including weekends)
fig, ax = plt.subplots(2, sharex=True)
data = goog.iloc[:10]
data.asfreq('D').plot(ax=ax[0], marker='o')
data.asfreq('D', method='bfill').plot(ax=ax[1], style='-o')
data.asfreq('D', method='ffill').plot(ax=ax[1], style='--o')
ax[1].legend(["back-fill", "forward-fill"]);

# Time-shifts
Another common time series–specific operation is shifting of data in time. Pandas
has two closely related methods for computing this: shift() and tshift(). In short,
the difference between them is that shift() shifs the data, while tshift() shifs the
index. In both cases, the shift is specified in multiples of the frequency.

In [ ]:
# Here we will both shift() and tshift() by 900 days:
fig, ax = plt.subplots(3, sharey=True)
# apply a frequency to the data
goog = goog.asfreq('D', method='pad')
goog.plot(ax=ax[0])
goog.shift(900).plot(ax=ax[1])
goog.tshift(900).plot(ax=ax[2])
# legends and annotations
local_max = pd.to_datetime('2007-11-05')
offset = pd.Timedelta(900, 'D')
ax[0].legend(['input'], loc=2)
ax[0].get_xticklabels()[4].set(weight='heavy', color='red')
ax[0].axvline(local_max, alpha=0.3, color='red')
ax[1].legend(['shift(900)'], loc=2)
ax[1].get_xticklabels()[4].set(weight='heavy', color='red')
ax[1].axvline(local_max + offset, alpha=0.3, color='red')
ax[2].legend(['tshift(900)'], loc=2)
ax[2].get_xticklabels()[1].set(weight='heavy', color='red')
ax[2].axvline(local_max + offset, alpha=0.3, color='red');
plt.tight_layout()

In [ ]:
# we use shifted values to compute the one-year return on investment for
# google stock over the course of the dataset 
ROI = 100 * (goog.tshift(-365) / goog - 1)
ROI.plot()
plt.ylabel('% Return on Investment');

# Rolling windows
Rolling statistics are a third type of time series–specific operation implemented by
Pandas. These can be accomplished via the rolling() attribute of Series and Data
Frame objects, which returns a view similar to what we saw with the groupby operation

In [ ]:
# For example, here is the one-year centered rolling mean and standard deviation of the
# google stock prices:
rolling = goog.rolling(365, center=True)
data = pd.DataFrame({'input': goog, 'one-year rolling_mean': rolling.mean(),
                     'one-year rolling_std': rolling.std()})
ax = data.plot(style=['-', '--', ':'])
ax.lines[0].set_alpha(0.3)

# Example: Visualizing Seattle Bicycle Counts
let’s take a look at bicycle counts on Seattle’s Fremont Bridge.

In [ ]:
# we can use Pandas to read the CSV output into a DataFrame. We will specify that we want the Date
# as an index, and we want these dates to be automatically parsed:
data = pd.read_csv('C:\\PythonClass\\Data Science\\Datasets\\fremont-bridge.csv', index_col='Date',
                   parse_dates=True)
data.head()

In [ ]:
# For convenience, we’ll further process this dataset by shortening the column names and adding
# a “Total” column:
data.columns = ['West', 'East']
data['Total'] = data.eval('West + East')
data.head()

In [ ]:
# Now let’s take a look at the summary statistics for this data:
data.dropna().describe()

In [ ]:
# We can gain some insight into the dataset by visualizing it. Let’s start by plotting the
# raw data:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
data.plot()
plt.ylabel('Hourly Bicycle Count');

In [ ]:
# The ~25,000 hourly samples are far too dense for us to make much sense of. We can
# gain more insight by resampling the data to a coarser grid. Let’s resample by week
weekly = data.resample('W').sum()
weekly.plot(style=[':', '--', '-'])
plt.ylabel('Weekly bicycle count');

In [ ]:
# Another way that comes in handy for aggregating the data is to use a rolling mean, utilizing the
# pd.rolling_mean() function. Here we’ll do a 30-day rolling mean of our data, making sure to 
# center the window
daily = data.resample('D').sum()
daily.rolling(30, center=True).sum().plot(style=[':', '--', '-'])
plt.ylabel('mean hourly count');

In [ ]:
# The following code specifies both the width of the window (we chose 50 days) and the width of
# the Gaussian within the window (we chose 10 days):
daily.rolling(50, center=True, win_type='gaussian').sum(std=10).plot(style=[':', '--', '-']);

In [ ]:
# we might want to look at the average traffic as a function of the time of day. We can do this
# using the GroupBy functionality
by_time = data.groupby(data.index.time).mean()
hourly_ticks = 4 * 60 * 60 * np.arange(6)
by_time.plot(xticks=hourly_ticks, style=[':', '--', '-']);

In [ ]:
# We also might be curious about how things change based on the day of the week.
# Again, we can do this with a simple groupby
by_weekday = data.groupby(data.index.dayofweek).mean()
by_weekday.index = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
by_weekday.plot(style=[':', '--', '-']);

In [ ]:
# With this in mind, let’s do a compound groupby and look at the hourly trend on weekdays versus 
# weekends. We’ll start by grouping by both a flag marking the weekend, and the time of day:
weekend = np.where(data.index.weekday < 5, 'Weekday', 'Weekend')
by_time = data.groupby([weekend, data.index.time]).mean()

In [ ]:
# Now we’ll use some of the Matplotlib tools  to plot two panels side by side:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, 2, figsize=(14, 5))
by_time.loc['Weekday'].plot(ax=ax[0], title='Weekdays',xticks=hourly_ticks, style=[':', '--', '-'])
by_time.loc['Weekend'].plot(ax=ax[1], title='Weekends',xticks=hourly_ticks, style=[':', '--', '-']);

# Working with query and eva for expressions
Pandas includes some experimental tools that allow you to directly access C-speed operations without costly allocation of inter-mediate arrays. These are the eval() and query() function, which rely on the
Numexpr package.

In [ ]:
# We’ve seen previously that NumPy and Pandas support fast vectorized operations; for example, 
# when you are adding the elements of two arrays:
rng = np.random.RandomState(42)
x = rng.rand(6)
y = rng.rand(6)
%timeit x + y

In [ ]:
# this is much faster than doing the addition via a Python loop or comprehension:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, count=len(x))

In [ ]:
# But this abstraction can become less efficient when you are computing compound expressions. For 
# example, consider the following expression:
mask = (x > 0.5) & (y < 0.5)
mask

In [ ]:
# Because NumPy evaluates each subexpression, this is roughly equivalent to the following:
tmp1 = (x > 0.5)
tmp2 = (y < 0.5)
mask = tmp1 & tmp2
mask

In [ ]:
# The Numexpr library gives you the ability to compute this type of compound
# expression element by element, without the need to allocate full intermediate arrays.
import numexpr
mask_numexpr = numexpr.evaluate('(x > 0.5) & (y < 0.5)')
# check if the two methods returns the same output
np.allclose(mask, mask_numexpr)

The Pandas eval() and query() tools that we will discuss here are conceptually similar, and 
depend on the Numexpr package.

In [ ]:
# The eval() function in Pandas uses string expressions to efficiently compute operations using 
# DataFrames.
nrows, ncols = 100000, 100       
rng = np.random.RandomState(42)       
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))                             
for i in range(4))

In [ ]:
# To compute the sum of all four DataFrames using the typical Pandas approach, we can just 
# write the sum:
%timeit df1 + df2 + df3 + df4

In [ ]:
# We can compute the same result via pd.eval by constructing the expression as a string:
%timeit pd.eval('df1 + df2 + df3 + df4')

In [ ]:
# The eval() version of this expression is about 50% faster (and uses much less memory), while 
# giving the same result:
np.allclose(df1 + df2 + df3 + df4, pd.eval('df1 + df2 + df3 + df4'))

# Operations supported by pd.eval()
As of Pandas v0.16, pd.eval() supports a wide range of operations.

In [ ]:
# To demonstrate these, we’ll use the following integer DataFrames:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3))) for i in range(5))

In [ ]:
# pd.eval() supports all arithmetic operators. For example:
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1, result2)

In [ ]:
# pd.eval() supports all comparison operators, including chained expressions:
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 = pd.eval('df1 < df2 <= df3 != df4')
np.allclose(result1, result2)

In [ ]:
# pd.eval() supports the & and | bitwise operators:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')
np.allclose(result1, result2)

In [ ]:
# it supports the use of the literal and and or in Boolean expressions:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')
np.allclose(result1, result3)

In [ ]:
# pd.eval() supports access to object attributes via the obj.attr syntax, and indexes via the 
# obj[index] syntax:
result1 = df2.T[0] + df3.iloc[1]
result2 = pd.eval('df2.T[0] + df3.iloc[1]')
np.allclose(result1, result2)

# DataFrame.eval() for Column-Wise Operations
Just as Pandas has a top-level pd.eval() function, DataFrames have an eval() method that works in similar ways. The benefit of the eval() method is that columns can be referred to by name.

In [ ]:
# We’ll use this labeled array as an example:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
df.head()

In [ ]:
# Using pd.eval() as above, we can compute expressions with the three columns like this:
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)

In [ ]:
# The DataFrame.eval() method allows much more succinct evaluation of expressions with the columns
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result3)

In [ ]:
# We can use df.eval() to create a new column 'D' and assign to it a value computed from the 
# other columns:
df.eval('D = (A + B) / C', inplace=True)
df.head()

In [ ]:
# In the same way, any existing column can be modified:
df.eval('D = (A - B) / C', inplace=True)
df.head()

In [ ]:
# The DataFrame.eval() method supports an additional syntax that lets it work with local Python
# variables usig @ as reference to the variable. Consider the following:
column_mean = df.mean(axis=1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)

Notice that this @ character is only supported by the DataFrame.eval() method, not by the pandas.eval() function, because the pandas.eval() function only has access to the one (Python) namespace.

# DataFrame.query() Method
The DataFrame has another method based on evaluated strings, called the query() method.

In [ ]:
# Consider the following:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

In [ ]:
# this is an expression involving columns of the DataFrame. It cannot be expressed using the Data
# Frame.eval() syntax, however! Instead, for this type of filtering operation, you can use the 
# query() method:
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

In [ ]:
# the query() method also accepts the @ flag to mark local variables:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

This is the end of this class on Pandas Library. Thanks for your time